<ul class="grid sm:grid-cols-2 grid-cols-1 gap-y-14 gap-x-10 w-full">
  <% blogs.each do |blog| %>
    <li>
      <%= link_to blog_path(blog) do %>
        <% if blog.image_url.present? %>
          <%= image_tag blog.image_url, alt: blog.title, loading: "lazy", decoding: "async", class: "w-full rounded-md aspect-[16/9] object-cover" %>
        <% else %>
          <div class="w-full rounded-md aspect-[16/9] bg-neutral-100"></div>
        <% end %>
        <div>
          <h3 class="text-xl font-semibold leading-snug tracking-tight mt-4 text-neutral-800">
            <%= blog.title %>
          </h3>
          <div class="flex gap-1 mt-2">
            <div class="text-gray-500">
              <%= blog.snippet %>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
