<footer class="flex justify-center items-center gap-4 py-6 max-w-screen-lg mx-auto px-5 border-t border-neutral-100">
  <p class="text-sm text-neutral-500">
    Copyright © <%= Time.current.year %> zuozizhen. All rights reserved.
  </p>
</footer>
