<div class="grid sm:grid-cols-3 grid-cols-1 gap-6">
  <%
    resources = [
      {
        href: "https://afdian.com/item/40d6ab9a3a9111ee96535254001e7c00",
        badge_text: "¥12",
        title: "极简简历模版包",
        button_text: "获取 ->",
        class_name: "cv",
        is_lemonsqueezy: false
      },
      {
        href: "https://arlogrey.lemonsqueezy.com/checkout/buy/0c70f01e-b150-4175-b286-ed21ee5a57b6",
        badge_text: "免费",
        title: "Notion 极简简历模版",
        button_text: "获取 ->",
        class_name: "cv-notion",
        is_lemonsqueezy: true
      },
      {
        href: "https://arlogrey.lemonsqueezy.com/checkout/buy/a8c1d2ff-7a1c-41e8-a6b7-3b38c3ec60ad",
        badge_text: "免费",
        title: "Figma 极简简历模版",
        button_text: "获取 ->",
        class_name: "cv-figma-free",
        is_lemonsqueezy: true
      },
      {
        href: "https://www.notion.so/zh-cn/templates/personal-year-end-summary",
        badge_text: "免费",
        title: "Notion 个人年终总结模版",
        button_text: "获取 ->",
        class_name: "year-end-notion",
        is_lemonsqueezy: false
      }
    ]
  %>
  <% resources.each do |resource| %>
    <%= link_to resource[:href], class: "rounded-lg p-6 relative card-resource #{resource[:class_name]} border border-neutral-200 hover:shadow-lg", target: "_blank", data: { turbo: false } do %>
      <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2.5 font-semibold text-white">
        <%= resource[:badge_text] %>
      </div>
      <h3 class="text-xl font-semibold mb-2"><%= resource[:title] %></h3>
      <div class="text-sm font-medium"><%= resource[:button_text] %></div>
    <% end %>
  <% end %>
</div>
