<% content_for :title, "资源" %>

<section class="max-w-screen-lg mx-auto w-full px-5 py-12">
  <div class="mb-8 mt-12">
    <h1 class="text-4xl font-semibold">资源</h1>
    <p class="text-neutral-500 mt-2">为设计师或创作者提供有用的资源</p>
  </div>
  <%= render "shared/resources" %>
</section>
